
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="chessApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div ng-view></div>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/models")
    @Scripts.Render("~/bundles/services")
    @Scripts.Render("~/bundles/controllers")
</body>
</html>
